<html>
    <head>
        <title>Hi</title>
    </head>

    <body>
		Hi {{owner}}!

        <h4>List of your notes</h4>
        <ul id="notes">
        </ul>

        <h4>Add a note</h4>
        <form action="note/" method="POST">
            {% csrf_token %}
            <p>
                <input type="text" name="text"/>
                <input type="hidden" name="owner" value="{{owner}}"/>
                <br>
                Insert a note
            </p>
            <input type="submit"/>
        </form>

        <h4>User info</h4>
        <p>
            User: {{owner}}
            <br>
            Birth year: {{birthYear}}

        </p>

        <!--

        <script inline="javascript">

            var url = '/note/';

            function loadNotes() {


                var http = new XMLHttpRequest();
                http.open("GET", 'notes', true);
                http.setRequestHeader("Content-type", "application/json");

                var obj = new Object();



                http.onreadystatechange = function () {
                    if (http.readyState === 4) {
                        if (http.status === 200) {

                            obj = JSON.parse(http.responseText);
                            obj2 =obj.notes;


                            var i

                            for (i = 0; i < obj2.length; i++) {


                                addNoteToList(JSON.parse(JSON.stringify(obj2[i])));


                            }

                        }
                    }
                }

                http.send(url);




            }
		</script>

        <script inline="javascript">

        function addNoteToList(task) {
                var liElement = document.createElement("li");
                liElement.appendChild(document.createTextNode(task.name));
                document.querySelector("#notes").appendChild(liElement);
            }


            window.onload = function () {
                loadTasks();
            };
        </script>

//-->



    </body>
</html>