<html>
    <head>
        <title>Hi</title>
    </head>

    <body>
		Hi {{owner}}!

        <h4>See list of your notes <a href="note/?owner={{owner}}">here!</a></h4>

        <h4>Add a note</h4>
        <form action="note/" method="POST">
            {% csrf_token %}
            <p>
                <input type="text" name="text"/>
                <input type="hidden" name="owner" value="{{owner}}"/>
                <br>
                Insert a note
            </p>
            <input type="submit"/>
        </form>

        <h4>User info</h4>
        <p>
            User: {{owner}}
            <br>
            Birth year: {{birthYear}}

        </p>

    </body>
</html>